.op/
DB Browser for SQLiterc
Cypress/
GIMP/
Microsoft/Microsoft Teams/
Mullvad VPN/
Signal/
VirtualBox/
VirtualBoxVMrc
VirtualBoxrc
asciinema/install-id
bluedevilglobalrc
cef_user_data/Dictionaries
chromium/
configstore/nodemon.json
configstore/gcs-resumable-upload.json
configstore/update-notifier-*.json
deluge/
discord/
emaildefaults
freerdp
google-chrome-beta/
google-chrome/
gtk-2.0/gtkfilechooser.ini
glib-2.0/settings/keyfile
gtkrc-2.0
gtkrc
ibus/
libreoffice/
menus/
nextjs-nodejs/config.json
opera/
pavucontrol.ini
plasma-localerc
plex.tv/plexmediaplayer.conf
print-manager
pulse/
remmina/
session/
skypeforlinux/
soffice.binrc
sqlitebrowser/
startupconfig
startupconfigfiles
startupconfigkeys
sublime-merge/
sublime-text-3
!sublime-text-3/Packages/User/Package Control.sublime-settings
!sublime-text-3/Packages/User/Preferences.sublime-settings
syncthing/
teams/
thefuck/
tizonia/tizonia.conf
user-dirs.locale
vlc/
vokoscreen/
yarn/link

# KDE stuff
akregatorrc
arkrc
discoverrc
dolphinrc
gwenviewrc
katemetainfos
kdeconnect/
k*rc
kcm*
ksysguardrc
okularrc
partitionmanagerrc
pavucontrol-qt
plasma-nm
spectaclerc
systemmonitorrc
systemsettingsrc
trashrc
QtProject.conf

# Why did Qt pick this file name?
Trolltech.conf

# VS Code + VS Codium
/VSCodium/*
!/VSCodium/User
/VSCodium/User/*
!VSCodium/User/keybindings.json
!VSCodium/User/settings.json
!VSCodium/User/extensions

/Code/*
!/Code/User
/Code/User/*
!Code/User/keybindings.json
!Code/User/settings.json
!Code/User/extensions

/Code - Insiders

# Checking this file in would tell multitenant installations to actually become non-multitenant installations
NOT_MULTITENANT-james
