.op/
1Password/
DB Browser for SQLiterc
Cypress/
GIMP/
GPUCache/
Microsoft/Microsoft Teams/
Mullvad VPN/
Ronin/
QueryPie/
Signal/
VirtualBox/
VirtualBoxVMrc
VirtualBoxrc
asciinema/install-id
balena-etcher-electron/
bluedevilglobalrc
cef_user_data/Dictionaries
chromium/
configstore/firebase-tools.json
configstore/nodemon.json
configstore/gcs-resumable-upload.json
configstore/update-notifier-*.json
configstore/time-tracker-cli.json
deluge/
discord/
emaildefaults
freerdp
google-chrome-beta/
google-chrome/
gtk-2.0/gtkfilechooser.ini
glib-2.0/settings/keyfile
gtkrc-2.0
gtkrc
htoprc
ibus/
libreoffice/
menus/
nextjs-nodejs/config.json
notificationhelper
openrazer/
opera/
pavucontrol.ini
plasma-localerc
plex.tv/plexmediaplayer.conf
print-manager
pulse/
remmina/
session/
skypeforlinux/
soffice.binrc
sqlitebrowser/
startupconfig
startupconfigfiles
startupconfigkeys
sublime-merge/
sublime-text-3
!sublime-text-3/Packages/User/Package Control.sublime-settings
!sublime-text-3/Packages/User/Preferences.sublime-settings
syncthing/
teams/
teams (deleted)/
teamviewer/
thefuck/
tizonia/tizonia.conf
user-dirs.locale
vlc/
vokoscreen/
yarn/link
zoomus.conf

# KDE stuff
QtProject.conf
akregatorrc
arkrc
baloofilerc
baloofileinformationrc
discoverrc
dolphinrc
drkonqirc
gwenviewrc
katemetainfos
kdeconnect/
kdeglobals
k*rc
kcm*
ksysguardrc
okularrc
okularpartrc
partitionmanagerrc
pavucontrol-qt
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmashellrc
spectaclerc
systemmonitorrc
systemsettingsrc
trashrc
usb-creator-kderc
webengineurlinterceptoradblockrc

# GNOME stuff
dconf/user
evolution/
gnome-control-center/
gtk-3.0/
gnome-initial-setup-done
libaccounts-glib/
/monitors.xml*
xsettingsd.conf

# Pop!_OS stuff
dleyna-server-service.conf
enchant/
pop-shell/
totem/

# Why did Qt pick this file name?
Trolltech.conf

# VS Code + VS Codium
/VSCodium/*
!/VSCodium/User
/VSCodium/User/*
!VSCodium/User/keybindings.json
!VSCodium/User/settings.json
!VSCodium/User/extensions

/Code/*
!/Code/User
/Code/User/*
!Code/User/keybindings.json
!Code/User/settings.json
!Code/User/extensions

/Code - Insiders

# Checking this file in would tell multitenant installations to actually become non-multitenant installations
NOT_MULTITENANT-james
